.messages {
	max-width: 1200px;

	.message-wrap {
		display: flex;
		align-items: center;

		.message {
			padding: 15px;
			display: inline-block;
			border-radius: 10px;
			margin: 5px 0;

			span {
				opacity: 0.4;
			}
		}

		&.sender {
			justify-content: end;
			.message {
				margin-right: 30px;
				color: white;
				background-color: #7502cd;
			}
		}
		&.receiver {
			justify-content: start;
			.message {
				margin-left: 30px;
				color: white;
				background-color: #3f3e3f;
			}
		}
	}
}

.form {
    margin: auto;
	margin-top: 30px;
	display: flex;
	gap: 10px;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    input {
        width: -webkit-fill-available;
    }

	input,
	select {
		font-family: inherit;
		border: none;
		outline: none;
		padding: 15px;
		border-radius: 7px;
		background-color: rgba(255, 255, 255, 0.1);
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;

		background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
		background-repeat: no-repeat;
		background-position-x: 92%;
		background-position-y: 12px;
        padding-right: 40px;

		option {
			color: black;
		}
	}

	button {
		font-family: inherit;
		border: none;
		outline: none;
		padding: 15px 25px;
		border-radius: 7px;
		background-color: var(--accent-border);
	}
}
